<style>
    #footer {
        padding-bottom: 20px;
        padding-top: 20px;
    }

</style>

<div id="footer" style="background-color:#AA7D39;text-align:center;margin-bottom: 0px;color:white;">
    <h5 style="color:white;">Drek Beach was created by Scott Beslow</h5>
    <div id="socMediaFooter">
        <a href="http://twitter.com/sbeslow" target="_blank">
            <i class="fa fa-twitter fa-3x" style="color:white;"></i>
        </a>&nbsp;
        <a href="http://www.linkedin.com/in/scottbeslow" target="_blank">
            <i class="fa fa-linkedin fa-3x" style="color:white;"></i>
        </a>&nbsp;
        <a href="http://github.com/sbeslow/" target="_blank">
            <i class="fa fa-github fa-3x" style="color:white;"></i>
        </a>
    </div>
    <br>
    <p>An <a href="http://twitter.com/opencityapps" target="_blank">open-city app</a></p>
    <p>All data from <a href="http://www.cpdbeaches.com" target="_blank">the Chicago Park District</a></p>


</div>