<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="col-xs-1">
<a href="http://beachapp.cloudapp.net"
	title="The battle to be Chicago's most poop-filled beach 2015 is on! #drekbeach"
	class="tweet" target="_blank"><i class="fa fa-twitter-square fa-5x" style="color:saddlebrown;"></i></a>
</div>

<script>
$('a.tweet').click(function(e){
	 
	  //We tell our browser not to follow that link
	  e.preventDefault();
	 
	  //We get the URL of the link
	  var loc = $(this).attr('href');
	 
	  //We get the title of the link
	  var title  = encodeURIComponent($(this).attr('title'));
	 
	  //We trigger a new window with the Twitter dialog, in the middle of the page
	  window.open('http://twitter.com/share?url=' + loc + '&text=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
	 
	});
</script>

<div class="col-xs-1 col-xs-offset-2">
<a href="http://beachapp.cloudapp.net"
	title="The battle to be Chicago's most poop-filled beach 2015 is on! #drekbeach"
	class="fbShare" target="_blank"><i class="fa fa-facebook-official fa-5x" style="color:saddlebrown;"></i></a>
</div>

<script>
$('a.fbShare').click(function(e){
	 
	  //We tell our browser not to follow that link
	  e.preventDefault();
	 
	  //We get the URL of the link
	  var loc = $(this).attr('href');
	 
	  //We get the title of the link
	  var title  = encodeURIComponent($(this).attr('title'));
	  
	  window.open('http://www.facebook.com/share.php?u=' + loc + '&title=' + title + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
	 
	 
	});
</script>
