<style>
.hero-unit {
	background-image: url("@routes.Assets.at("images/chicagoBeach.jpeg ")");
	background-size : cover;
	height: 500px;
	background-size: cover
}

#heroText {
	position: relative;
	top: -500px;
	color: saddlebrown;
}
</style>

<div class="hero-unit"></div>
<div class="container" id="beachHero">
<div class="col-xs-12 col-sm-9" id="heroText">
	<h2>
			In 2014, Chicago Beaches were under a swim advisory -- on average --
			14% of the summer.
	</h2>
    <p>Source: Twitter feed @@ChicagoParks</p>
</div>
<div class="col-xs-12">
	<p>Source: Twitter</p>
</div>
</div>