<div class="modal fade" id="whatIsPooScoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="color:#AA7D39">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">What is the Poo Score?</h4>
            </div>
            <div class="modal-body">
                <h3 style="text-align: center">
                    The Poo Score =<br><br>
                    2 x # of days with Swim Ban<br><br>+<br><br>1 x # of days with Swim Advisory
                </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" style="background-color: #AA7D39;color:white;">Close</button>
            </div>
        </div>
    </div>
</div>