@main("Drek Beach Chicago"){
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-1">
                <h2>Drek Beach is looking for partners, friends, sponsors, activists, municipalities, and beach lovers
                    to lend a hand</h2>
            </div>
        </div><br>
        <div class="row">
            <div class="col-sm-7 col-sm-offset-4">
                <a href="mailto:scott@@orange-wall.com?Subject=DrekBeach%20Interest" target="_top"
                class="btn btn-lg" style="background-color: #AA7D39;color:white;">Get Involved</a>
            </div>
        </div>

    </div>
    <div class="container">
        <h3>DrekBeach is open source</h3>
        <a href="http://github.com/sbeslow/beach" target="_blank">
            <h5>Pull requests welcome on GitHub <i class="fa fa-github fa-2x" style="color:#AA7D39;"></i></h5>
        </a>

    </div>

}