@(scoreboard: Scoreboard)

    @main("Drek Beach Chicago") {

        <div class="container" id="topOfPage">

            <div class="col-xs-12">
                <h2 style="text-align:center;">the battle to be Chicago's most poop-filled beach 2015</h2>
                <h6 style="text-align:center;color:gray;">Beach Season has ended.</h6>
            </div>

            <div class="col-xs-12">
                <h3 style="text-align: center"><span style="color:#3966aa">2015 Drek Beach Champion:</span> <a style="color:#AA7D39;" href="/beach/@scoreboard.beachRankings.get(0).beachUrl">@scoreboard.beachRankings.get(0).beachName</a></h3>
            </div>
        </div>

        <div class="container" id="topTen">
            @topTen(scoreboard)
        </div>
        <div class="container-fluid" id="pooScoreDefine" style="background-color:#AA7D39;padding:20px;">
        	<div class="col-sm-8 col-sm-offset-2">
        		<h2 style="color:white;">Each time a beach has a <strong>swim advisory</strong> it gets one point
                    added to its Poo Score.  A Swim Ban is worth two </h2>
        	</div>
        </div>

        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        @swimRestrictStats(scoreboard)

     }
