<style>
.navbar-default {
margin-bottom: 0px;
}
</style>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header" style="margin-bottom: 60px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">@graphics.logo()</a>
        </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find A Beach<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    @for(aBeach <- controllers.Beaches.beachList()) {
                        <li><a href="/beach/@aBeach.urlCode">@aBeach.name</a></li>
                    }
                    </ul>
                </li>
                <li><a href="/contribute">Contribute</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                <li><a href="http://beachapp.cloudapp.net"
                title="The battle to be Chicago's most poop-filled beach 2015 is on! #drekbeach"
                class="tweet" target="_blank"><i class="fa fa-twitter-square fa-4x" style="color:#AA7D39;"></i></a>
                </li>
                <li>
                    <a href="http://beachapp.cloudapp.net"
                    title="The battle to be Chicago's most poop-filled beach 2015 is on! #drekbeach"
                    class="fbShare" target="_blank"><i class="fa fa-facebook-official fa-4x" style="color:#AA7D39;"></i></a>
                </li>
                @subDivs.socialMediaButtons()
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>