@(scoreboard: Scoreboard)

<div id="leaderboardDiv">
    <div class="col-xs-12 col-sm-6 col-sm-offset-2">
        @graphics.leaderboard(scoreboard)<br>

		@subDivs.fullLeaderboard(scoreboard)

    </div>

    <div class="col-sm-2 col-sm-offset-1"  style="margin-bottom:10px; margin-top:30px;">
         <button type="button" class="btn" data-toggle="modal" data-target="#whatIsPooScoreModal" style="background-color:#AA7D39; color:white; margin-bottom:10px; margin-top:10px;">
            What is the Poo Score?
        </button>
        @subDivs.whatIsPooScore()
        <button type="button" class="btn" data-toggle="modal" data-target="#fullLeaderboard" style="background-color:#AA7D39; color:white;margin-bottom:10px; margin-top:10px;">
            Full Leaderboard
        </button>
        <button type="button" class="btn" id="showMapBtn" style="background-color:#AA7D39;color:white;margin-bottom:10px; margin-top:10px;">
            Show Map
        </button>
    </div>

</div>
<div id="mapDiv">
    <div class="container">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
        @graphics.theMap(scoreboard)
        </div>

        <div class="col-xs-12 col-sm-2 col-sm-offset-1">
            <button type="button" class="btn btn-lg" id="showScoreboardBtn" style="background-color:#AA7D39; color:white; margin-bottom:10px; margin-top:10px;">
                Show Scoreboard
            </button>
        </div>
    </div>
</div>
<script>
	$("#mapDiv" ).hide();
	
	$('#showMapBtn').on('click', function () {
		$("#mapDiv" ).show();
		$("#leaderboardDiv" ).hide();
	});
	
	$('#showScoreboardBtn').on('click', function () {
		$("#mapDiv" ).hide();
		$("#leaderboardDiv" ).show();
	});
</script>

