@main("Drek Beach") {
    @heroImage()
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 style="text-align: center">As a civic hacker, open government advocate, and beach lover, I wanted Drek Beach to
                use data to give an account of fecal contaimination at Chicago beaches.  This site is
                very much a work in progress.  It is also open to contributions for those interested.
                Join into our project on GitHub</h3>
            </div>
        </div>
        <div class="row" id="blockA" style="background:#AA7D39;padding:15px">
            <div class="col-sm-9 col-sm-offset-1">
                <h4 style="text-align: left;color:white">
                Drek Beach sets out to answer these questions:<br><br>
                <ul>
                    <li>Which Chicago beaches are closed the most?  Why?</li>
                    <li>When a swim advisory or ban is issued, how often is it correct?</li>
                    <li>What can residents do about this?</li>
                </ul>
                </h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <h4 style="text-align: center;">The Chicago Park District Beaches website
                is a terrific resource for getting information
                about visiting the beach today.  It also includes current swim advisories, the e-coli
                level prediction for now, and the last e-coli measurement -- which, due to its 18-hour
                incubation period -- is from yesterday.  </h4>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img alt="Cpdbeaches.com thumbnail" title="Cpdbeaches.com thumbnail" src="//thumbnail.easycounter.com/thumbnails/300x180/c/cpdbeaches.com.png">
            </div>
            <div class="col-sm-8">
                <h4>Unfortunately, the latter is not particularly
                helpful in this context, and there is no way to see prior days.  So, on May 22, when
                beach season began, Drek Beach started monitoring this information and recording a
                historical record for this season so far.</h4>
            </div>
        </div>
        <hr>
        <div class="container" id="whatsThis" style="text-align: center;margin-bottom: 7px;">
            <div class="row">
                <h4>Ecoli</h4>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <h4>E-coli is a bacteria found in the intestines of animals.  The city monitors the amount
                        of E-coli in the water as an indicator for the amount of fecal contamination.
                        The US E.P.A recommends notifying the public when E. coli bacteria levels are above 235
                        CCE (Enterococci Calibrator Cell Equivalents per 100 milliliters of water)
                        federal water quality Beach Action Value (BAV), which is 235.  If it exceeds this level,
                        there will be a <strong>Swim Advisory</strong>.  When the level exceeds 1000 CCE, the
                        Park District issues a <strong>Swim Ban</strong>.</h4><br>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0">
                    <a title="By Credit: Rocky Mountain Laboratories, NIAID, NIH [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3AEscherichiaColi_NIAID.jpg"><img width="512" alt="EscherichiaColi NIAID" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/32/EscherichiaColi_NIAID.jpg/512px-EscherichiaColi_NIAID.jpg" class="img-responsive"/></a>
                </div>
                <div class="col-xs-12 col-xs-offset-2 col-sm-9">
                    <h4>The primary source of E-coli at Chicago beaches are animals, sewers, and garbage</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">


                <hr>
                Diarrhea, which may range from mild and watery to severe and bloody
                Abdominal cramping, pain or tenderness
                Nausea and vomiting, in some people
            </div>
        </div>

    </div>
}