@(beach: Beach)

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="eColiChart" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

<div id="beachUrl" value="@beach.urlCode"></div>

<script>
var beachUrl = '@beach.urlCode';

var chart = new Highcharts.Chart({
	chart: {
		renderTo: 'eColiChart'
	},
    title: {
        text: 'Monthly Average Temperature',
        x: -20 //center
    },
    subtitle: {
        text: 'Source: WorldClimate.com',
        x: -20
    },
    yAxis: {
        title: {
            text: 'Temperature (°C)'
        },
        plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
        }]
    },
    tooltip: {
        valueSuffix: '°C'
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
    }

});

$.getJSON('/api/ecoli/' + beachUrl, function(data) {
	forecasts = [];
	timeLine = [];

    $.each(data.readings, function(index, element) {
    	timeLine.push(element.dateTime);
    	forecasts.push(element.forecast);

    });

   	chart.xAxis[0].setCategories(timeLine);
    chart.addSeries({
        name: "No Restrictions",
        data: forecasts,
        color: '#009933'
	});
});
</script>
