<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="graphContainer" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto; margin-bottom: 400px;"></div>

<script>

var chart = new Highcharts.Chart({
        chart: {
            type: 'bar',
            renderTo: 'graphContainer',
            height: 800
        },
        xAxis: {
            labels: {
                formatter: function () {
                	return redirectToBeachPage(this.value);
                },
                useHTML: true
            }
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: '% of Open Hours'
            },
            opposite: true
        },
        legend: {
            reversed: true,
            align:'center',
            verticalAlign:'top'

        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        title:{
            text:''
        },
        credits: {
            enabled: false
        }
    });
   
var beachNameToUrlMapping = {};

$.getJSON('/api/scoreboard', function(data) {
	beachNames = [];
	bans = [];
	noRestrict = [];
	advisory = [];
	beachNameToUrlMap = {};
    $.each(data, function(index, element) {
    	beachNames.push(element.name);
    	bans.push(element.ban);
    	noRestrict.push(element.noRestrict);
    	advisory.push(element.advisory);
    	beachNameToUrlMap[element.name] = element.urlCode + ";" + element.rank;
    });
    chart.xAxis[0].setCategories(beachNames);
    chart.addSeries({
        name: "No Restrictions",
        data: noRestrict,
        color: '#009933'
    });
    chart.addSeries({
        name: "Swim Advisory",
        data: advisory,
        color: '#FFFF00'
    });
    chart.addSeries({
        name: "Swim Ban",
        data: bans,
        color: 'saddlebrown'
    });
});

function redirectToBeachPage(beachName) {
	var beachUrlAndRank = beachNameToUrlMap[beachName].split(";");
	var urlCode = beachUrlAndRank[0];
	var rank = beachUrlAndRank[1];
	
	return '<a href="/beach/' + urlCode + '">' + rank + '. ' + beachName + '</a>';
}

</script>