<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="graphContainer" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>

<script>

var chart = new Highcharts.Chart({
        chart: {
            type: 'bar',
            renderTo: 'graphContainer',
            height: 800
        },
        yAxis: {
            min: 0,
            max: 100,
            title: {
                text: '% of Open Hours'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        title:{
            text:''
        },
        credits: {
            enabled: false
        }
    });
    
$.getJSON('/api/scoreboard', function(data) {
	beachNames = [];
	bans = [];
	noRestrict = [];
	advisory = [];
    $.each(data, function(index, element) {
    	beachNames.push(element.name);
    	bans.push(element.ban);
    	noRestrict.push(element.noRestrict);
    	advisory.push(element.advisory);
    });
    chart.xAxis[0].setCategories(beachNames);
    chart.addSeries({
        name: "No Restrictions",
        data: noRestrict,
        color: '#009933'
    });
    chart.addSeries({
        name: "Swim Advisory",
        data: advisory,
        color: '#FFFF00'
    });
    chart.addSeries({
        name: "Swim Ban",
        data: bans,
        color: '#6600FF'
    });
});

</script>