@(beach: Beach)

@main("") {
    <h1>@beach.name</h1>
    <h3>Current status: @beach.currentStatus()</h3>
    
    <script>
    
	    $( document ).ready(function() {
	    	
	    	drawPercentRestrictGauge(40.5);
	    });
	    
	    function drawPercentRestrictGauge(percent) {
		    var config2 = liquidFillGaugeDefaultSettings();
		    config2.circleColor = "#D4AB6A";
		    config2.textColor = "#553300";
		    config2.waveTextColor = "#805615";
		    config2.waveColor = "#AA7D39";
		    config2.circleThickness = 0.1;
		    config2.circleFillGap = 0.2;
		    config2.textVertPosition = 0.8;
		    config2.waveAnimateTime = 2000;
		    config2.waveHeight = 0.3;
		    config2.waveCount = 1;
		    loadLiquidFillGauge("fillgauge3", percent, config2);
	    }
    
    </script>
    
    <div class="container">
    	<div class="row">
    		<div class="col-sm-4">
    			<div class="row">
    				<h3>Time with swim restrictions</h3>
    			</div>
    			<div class="row">
    				<svg id="fillgauge3" width="100%" height="200"></svg>
    			</div>
    		
    		</div>
    		<div class="col-sm-4">
    			<div class="row">
    				<h3>Drek Beach Rank 2015</h3>
    			</div>
    			<div class="row">
    				<h1 style="text-align:center;">1</h1>
    			</div>
    		
    		</div>
    		<div class="col-sm-4">
    			<div class="row">
    				<h3>Current Streak</h3>
    			</div>
    			<div class="row">
    				<h1 style="text-align:center;">No restrictions 2 days</h1>
    			</div>
    		
    		</div>
    	</div>
    
    </div>

    @defining(beach.getSeasonalStats) { seasonalStats =>

        <H5 id="hoursNoRestrict" value="@seasonalStats.getMinsNoRestrict">Hours with no swimming restrictions: @seasonalStats.getMinsNoRestrict</H5>
        <h5 id="hoursAdvisory" value="@seasonalStats.getMinsAdvisory">Hours with a swim advisory: @seasonalStats.getMinsAdvisory</h5>
        <h5 id="hoursBan" value="@seasonalStats">Hours with a swim ban @seasonalStats.getMinsSwimBan</h5>

        <script>

            $( document ).ready(function() {

                var data2 = [];
                var noR = {label: "No Restrictions", value: $('#hoursNoRestrict' ).value};
                data2.push(noR);
            });

        </script>

    }
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="@routes.Assets.at("javascripts/liquidGauge.js")"></script>

}