@(beachRanking: BeachRanking)

@main("") {
	<style>
		span.rankNumber {
		   border-radius: 0.8em;
		  -moz-border-radius: 0.8em;
		  -webkit-border-radius: 0.8em;
		  color: #ffffff;
		  display: inline-block;
		  font-weight: bold;
		  line-height: 1.6em;
		  margin-right: 15px;
		  text-align: center;
		  width: 1.6em;
		  font-size: 300%;
		}
	</style>

	<div class="container">
		<div class="col-sm-4">
			<h1 style="text-align:center;">@beachRanking.beachName</h1>
		</div>
		<div class="col-sm-4">
            <h1 style="text-align: center;">Current Conditions:</h1>
            <h3 style="color:@beachRanking.currentStatusColor();text-align:center">@beachRanking.currentStatus</h3>
            <p style="color:gray;font-size:65%;text-align:center">Last updated @beachRanking.lastUpdated</p>
        </div>
        <div class="col-sm-4">
			<div class="row">
				<h1 style="text-align: center;">Drek Beach Rank:</h1>
			</div>
			<div class="row">
				<h1 style="text-align:center"><span class="rankNumber" style="background: #AA7D39;">@beachRanking.rank</span></h1>
			</div>
		</div>
	</div>

	@graphics.beachEcoliGraph(beachRanking)

}