@(scoreboard: Scoreboard)
<div class="row">
	<h3 style="text-decoration:underline;text-align:center;">The Leaderboard</h3>
</div>

<table class="table table-hover">
    <thead>
        <th>Rank</th>
        <th>Beach</th>
        <th>Poo Score</th>
    </thead>
    <tbody>
        @for(beachRanking <- scoreboard.topTen()) {
            <tr>
                <td>@beachRanking.rank</td>
                <td>@beachRanking.beachName</td>
                <td>@beachRanking.poopScore</td>
            </tr>
        }
    </tbody>
</table>